# Environment files
.env
.env.bak/
.env/
env/
venv/
.venv/
env.bak/

# Ignore coverage and testing files
.coverage
.cache
coverage.xml
pytestdebug.log
.pytest_cache/
*.cover
.hypothesis/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib
*.lib

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
.eggs/
eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs
*.log
*.out
*.err
pip-log.txt
pip-delete-this-directory.txt

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Unix
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.idea/
*.iml
*.iws
.vscode/
Tradingrobotplug2/
data/
config/
src\Data_Processing\data
logs/
models/
TSLA_sentiment.csv
stocktwits_sentiment.csv
trade_analyzer.db
Archive/TradingRobotPlug/
